<h2>Lista di Task</h2>
<div class="container bg-Secondary ">
    <div class="row">
<div class="card text-center" *ngIf="array.length >0">
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let task of array">
                {{task.getitolo()}}
                {{task.descrizione}}

                        <button type="button" class="btn btn-outline-success"(click)="">Success</button>
                        <button type="button" class="btn btn-outline-danger">Danger</button>       
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>